/**
* Anax Flat theme.
*/
@import url(base.less);

@navbarItemBgColor: #000;
@fontFamilyHeadings: @fontFamilyTimes;

@fontSizeH1: 1.375em;
@fontSizeH2: 1.375em;
@fontSizeH3: 1.375em;
@fontSizeH4: 1.25em;
@fontSizeH5: 1em;
@fontSizeH6: 0.875em;

@borderSizeH1: 0;
@borderSizeH2: 0;

html {
    color: white;
    background-color: #000;
}

a {
    color: lightgrey;
}
